.balloonTd{
    text-align: center;
}

.mui-appbar{
    background-color: #2B7C00;
    color : #E7FC3B
}

.mui-btn--primary{
    background-color:#45C700;
}

.context-wrapper{
    background-color:#45C700;
}
