{% load static %}
<footer id="footer">
  <div class="mui-container-fluid">
    <br> | Guillem Barbosa Costa - Google Summer of Code 2017 |
    <div class="mui-content" align="right">
        <a id="appbar-more-vert" class="sidedrawer-toggle" onclick="showLogos()">
        <i class="material-icons">info</i></a>
    </div>
  </div>
</footer>

<div id="overlay_logos" class="modal3" style="display: none;">
  <a class="boxclose" id="boxclose" onclick="close_overlay()"></a>
  <h2 id="label" class="mui-m-n" style="color:#FFFFFF;font-family: New Century Schoolbook;font-size: 24px;font-style:bold;"> Special Thanks
    <img src="{% static 'img/logos_comuns.png' %}" title="river" width="90%" align="left">
  </h2>
  <img src="{% static 'img/logo_family.png' %}" title="family" width="55%" align="center">
</div>

<script>

function showLogos(){
  document.getElementById('overlay_logos').style.display = "block";
}

function close_overlay(){
  document.getElementById('overlay_logos').style.display = "none";
}

</script>
