{% include "WDLG/header.html" %}
{% load static %}

<div id="content-wrapper">
  <br>
  <div class="mui--text-center">
    <tr>
      <h1><img src="{% static 'img/city.png' %}" title="city" width="6%" align="middle">  Most Populated Cities In The World</h1>
    </tr>
  </div>
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui--text-center">
        <div class="mui-content">
          <form method="POST" action=""> {% csrf_token %}
            {% for city in list_cities %}
             <div>
               <h4 text-align="left" vertical-align="middle" id='{{city.city}}' type="text" value='{{city.city}}'>{{city.rank}}. <b>{{city.city}}</b> ({{city.country}}) ->  {{city.population}} people.</h4>
             </div>
            {% endfor %}
          </form>
          <br>
          <div>
            <a class="mui-btn mui-btn--green" href="{% url 'start_tour_cities' %}">START TOUR</a>
            <a class="mui-btn mui-btn--red" href="{% url 'stop_tour_cities' %}">STOP TOUR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "WDLG/footer.html" %}
