{% include "WDLG/header.html" %}
{% load static %}

<div id="content-wrapper">
  <br>
  <div class="mui--text-center">
    <tr>
      <h1><img src="{% static 'img/city.png' %}" title="city" width="6%" align="middle">  Most Populated Cities In The World</h1>
    </tr>
  </div>
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui--text-center">
        <div class="mui-content">
          <form method="POST" action=""> {% csrf_token %}
            {% for city in list_cities %}
              <div>
                <h4 class="button button_multi_selection" id='{{city.city}}' type="text" value='{{city.city}}'>{{city.rank}}. {{city.city}} ->  {{city.population}} people.</h4>
              </div>
            {% endfor %}
          </form>
          <br>
          <div>
            <input type="button" href="{% url 'start_tour_cities' %}" class="mui-btn mui-btn--raised mui-btn--primary" value="Start Tour"</input>
            <input type="button" href="{% url 'stop_tour_cities' %}" class="mui-btn mui-btn--raised mui-btn--danger" value="Stop Tour"</input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "WDLG/footer.html" %}
