{% include "WDLG/header.html" %}
{% load static %}

<div id="content-wrapper">
     <div class="mui--appbar-height"></div>
      <div class="mui--text-center">
        <h1> <img src="{% static 'img/olympicgames.png' %}" title="games" width="6%" align="middle">  Summer Olympic Games
      </div>

      <br>

      <div class="mui-container-fluid">
        <div class="mui-row">
          <div class="mui--text-center">
            <div class="mui-content">
              <form method="POST" action="" id="olympicgames_options"> {% csrf_token %}
                <table class="mui-table mui-table--bordered">
                  {% for host_city in host_city_list %}
                  <tbody>
                    <div class="mui-col-md-4">
                      <a class="mui-btn mui-btn--blue" value="{{host_city}}" id="get_olympic_game" onclick="javascript:selected_olympicgame_button('{{host_city}}');" > {{host_city}} </a>
                    </div>
                  </tbody>
                  {% endfor %}
                </table>
              </form>
              <br>
            </div>
          </div>
        </div>
      </div>

      <div id="modal" class="modal_premier" style="display: none;"></div>
        <div id="modal2" class="overlay loading-indicator" style="display: none;">
          <h2 id="header1" class="mui-m-n">Please wait...</h2>
          <h2></h2>

          <h2 id="header2" class="mui-m-n"></h2>
          <h2 id="header3" class="mui-m-n"></h2>
        </div>

</div>
<script>
function selected_olympicgame_button(host_city){

    document.getElementById('modal').style.display = "block";
    document.getElementById('modal2').style.display = "block";
    document.getElementById('image').src = "{% static 'img/olympicgames.png' %}";
    document.getElementById('header2').innerText = "You have selected -> "+host_city+"\n"+"Now it starts the flight to the city.";

    const csrfmiddlewaretoken = readCookie('csrftoken');
    console.info(csrfmiddlewaretoken);

    fetch('/summer_olympic_games', {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      body: `csrfmiddlewaretoken=${csrfmiddlewaretoken}&host_city=${host_city}`,
      credentials: 'include'
    }).then(() => {
      document.getElementById('modal').style.display = "none";
      document.getElementById('modal2').style.display = "none";
    });
}
</script>
{% include "WDLG/footer.html" %}
