{% include "WDLG/header.html" %}
{% load static %}

<div id="content-wrapper">
     <div class="mui--appbar-height"></div>
      <div class="mui--text-center">
        <div class="mui--text-display2">Summer Olympic Games</div>
      </div>
      <div class="mui-container-fluid">
                <div class="mui-row">
                     <div class="col-xs-12">
                           <div id="spinnerDiv" style="display:none">
                           <div class="modal"> </div>
                              <div class="overlay loading-indicator">
                               <div id="spinner-target"></div>
                             </div>
                          </div>
                     </div>
                </div>
      </div>
</div>

{% include "WDLG/footer.html" %}
