{% include "WDLG/header.html" %}
{% load static %}

<div id="content-wrapper">
     <div class="mui--appbar-height"></div>
      <div class="mui--text-center">
        <h1> <img src="{% static 'img/river.png' %}" title="city" width="6%" align="middle">  The Longest Rivers In The World
      </div>

      <br>

      <div class="mui-container-fluid">
        <div class="mui-row">
          <div class="mui--text-center">
            <div class="mui-content">
              <form method="POST" action="" id="rivers_options"> {% csrf_token %}
                <table class="mui-table mui-table--bordered">
                  {% for river in list_rivers %}
                  <tbody>
                    <div class="mui-col-md-4">
                      <input id="river_button" class="mui-btn mui-btn--blue" onclick="javascript:selected_river_button('{{river.river}}');" value="{{forloop.counter}} - {{river.river}}"></input>
                    </div>
                  </tbody>
                  {% endfor %}
                </table>
              </form>
              <br>
            </div>
          </div>
        </div>
      </div>

      <div id="overlay_river" class="modal2" style="display: none;">
        <a class="boxclose2" id="boxclose2" href = "{% url 'stop_experience' %}" onclick="close_overlay_river()"></a>
        <h2 id="label_river" class="mui-m-n" align="center" style="color:#000000;font-family: New Century Schoolbook;font-size: 24px;font-style:bold;"></h2>
        <h3></h3>

        <div style="width:420px;">
          <div style="float: left; margin-left: 10px;">
            <a style="visibility:visible" class="mui-btn mui-btn--green" onclick="javascript:start_tour()">START TOUR EXPERIENCE</a>
          </div>
          <div style="float: right; margin-right: 25px">
            <a style="visibility:visible" class="mui-btn mui-btn--red" href = "{% url 'stop_experience' %}">STOP</a>
          </div>
        </div>
        <div style="float: left; margin-left: 10px;">
          <a style="visibility:visible" class="mui-btn mui-btn--green" onclick="javascript:start_line_track()">START LINE TRACK EXPERIENCE</a>
        </div>
        <h3></h3>
        <div style="float: left;">
          <h4> <b>Tour Experience:</b> Tour on the river from a height where you can follow all its progress.</h4>
          <h4> <b>Line Track Experience:</b> From a higher view, show the route of the river following the trace with a line.</h4>
        </div>
      </div>

</div>

<script>

var cookies;
function readCookie(name,c,C,i){
    if(cookies){ return cookies[name]; }

    c = document.cookie.split('; ');
    cookies = {};

    for(i=c.length-1; i>=0; i--){
       C = c[i].split('=');
       cookies[C[0]] = C[1];
    }

    return cookies[name];
}

function start_tour(river_name){
  const csrfmiddlewaretoken = readCookie('csrftoken');
  console.info(csrfmiddlewaretoken);
  var river_name = document.getElementById('label_river').innerText;

  fetch('/tour_experience', {
    method: "POST",
    headers: {
      "Content-Type": "application/x-www-form-urlencoded"
    },
    body: `csrfmiddlewaretoken=${csrfmiddlewaretoken}&river_name=${river_name}`,
    credentials: 'include'
  }).then(() => {
    ///alert('done');
  });
}

function start_line_track(river_name){
  const csrfmiddlewaretoken = readCookie('csrftoken');
  console.info(csrfmiddlewaretoken);
  var river_name = document.getElementById('label_river').innerText;

  fetch('/line_track_experience', {
    method: "POST",
    headers: {
      "Content-Type": "application/x-www-form-urlencoded"
    },
    body: `csrfmiddlewaretoken=${csrfmiddlewaretoken}&river_name=${river_name}`,
    credentials: 'include'
  }).then(() => {
    ///alert('done');
  });
}

function close_overlay_river(){
  document.getElementById('overlay_river').style.display = "none";
}

</script>

{% include "WDLG/footer.html" %}
