
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/overlay.js' %}"></script>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sigmar+One"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merienda+One"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Patrick+Hand"/>

<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
      <center><span class="mui--text-title"><a href="/"><img style="width: 43%;" src="{% static 'img/logoWD.png' %}"/></a></span></center>
  </div>
  <div class="mui-divider"></div>
  <ul>
    <strong id="menu_item1"><li class="menu item2"><img src="{% static 'img/city.png' %}" title="city" width="20%"><a href="{% url 'populated_cities' %}"><b>  Most Populated Cities</b></a></li></strong>
  </ul>
  <ul>
    <strong id="menu_item2"><li class="menu item2"><img src="{% static 'img/stadium.png' %}" title="stadium" width="20%"><a href="{% url 'premierLeague_stadiums' %}"><b>  Premier League Stadiums</b></a></li></strong>
  </ul>
  <ul>
    <strong id="menu_item3"><li class="menu item2"><img src="{% static 'img/river.png' %}" title="river" width="20%"><a href="{% url 'longest_rivers' %}"><b>  The Longest Rivers</b></a></li></strong>
  </ul>
  <ul>
    <strong id="menu_item4"><li class="menu item2"><img src="{% static 'img/airport.png' %}" title="airport" width="20%"><a href="{% url 'spanish_airports' %}"><b>  Spanish Airports</b></a></li></strong>
  </ul>
  <ul>
    <strong id="menu_item5"><li class="menu item2"><img src="{% static 'img/olympicgames.png' %}" title="olympicgame" width="20%"><a href="{% url 'summer_olympic_games' %}"><b>  Summer Olympic Games</b></a></li></strong>
  </ul>
</div>

<header id="header">
  <div class="mui-appbar mui--appbar-line-height">
    <div class="mui-container-fluid">
      <table width="100%" height="50%">
        <tr style="vertical-align:middle;">
          <td class="mui--appbar-height" align="left">
            <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
            <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer"><i class="material-icons">menu</i></a>
            <span style="color:#E7FC3B;font-family: Sigmar One;font-size: 20px;" class="mui--text-title" align="center">Wikidata Liquid Galaxy Visualization</span>
          </td>
          <td class="mui--appbar-height" align="right">
            <a class="mui-appbar"><i class="material-icons">more_vert</i></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</header>

<div id="modal" class="modal" style="display: none;"></div>
  <div id="modal2" class="overlay loading-indicator" style="display: none;">
    <h2 id="header1" class="mui-m-n">Please wait...</h2>
    <h2></h2>
    <h2></h2>
    <h2></h2>
    <h2></h2>
    <img id="image" src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Solid_white.png" title="image_overlay" width="40%">
    <h2></h2>
    <h2 id="header2" class="mui-m-n"></h2>
  </div>
